/*prevents scrolling */
html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300;600&display=swap');
body{
  
}
.score{
  background-color: black;
  color: white;
  width: 110px;
  height: 55px;
  text-align: center;
  z-index: +2;
  position: absolute;
}
.restart{
  font-family: 'Quicksand', sans-serif;
  font-size: x-large;
  left: 0;
  top: 55px;
  z-index: +2;
  position: absolute;
  text-align: center;
  color: white;
  background-color: #00cc00;
}
.count {
  font-family: 'Quicksand', sans-serif;
  font-size: x-large;
  left: 0;
  z-index: +2;
  position: absolute;
}

/*
.flappy {
  position: absolute;
  background-image: url('./images/greenbirdPixcleaner.png');
  background-size: 100px 100px;
  top: 300px;
  height: 100px;
  width: 100px;
  z-index: 9;
}
*/

/* background of game scrolling */
.wrapper {
  overflow: hidden;
  width: 1000px;
  height: 730px;
  position: absolute;
  left: 200px;
  
}

/*superficial but functional*/
.sky{
width: 1000px;
height: 850px;
position: absolute;
}

.floor{
  width: 1000px;
  height: 150px;
  position: absolute;
  top: 650px;
  /* bringing this div forward to hide the base of pipes */
  z-index: +1;
}
.active {
  background: url(images/yellowbird.png);
}

.activeX{
  background: url(images/greenbird.png);
  background-repeat: no-repeat;

}

.activeY{
  background: url(images/redbird.png);
  background-repeat: no-repeat;
}

.explode {
  background-image: url(images/explode.png);
  background-repeat: no-repeat;
}
.flappy{
  /*background: url(images/yellowbird.png);*/
  width: 60px;
  height: 55px;
  background-size: 60px;
  position: absolute;
  z-index: +1;
}

.botPipe {
  background: linear-gradient(to right, #ccffcc 17%, #00cc00 74%);
  width: 60px;
  height: 300px;
  position: absolute;
  z-index: +1;
}

.left{
  width: 200px;
  height: 730;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.topPipe {
  background: linear-gradient(to left, #ccffcc 17%, #00cc00 74%);
  width: 60px;
  height: 300px;
  transform: rotate(180deg);
  position: absolute;
  z-index: +1;
}
.background {
  background: url('images/flappybackground.png') repeat-x; 
  height: 1000px;
  width: 5076px;
  background-size:90rem;
 
}

.unpaused{
  animation: slide 17s linear infinite;
}
.paused{
  
}
@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  animation: 2s linear infinite blink;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./images/redbird.png');
  background-repeat:no-repeat 
}



